.container{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.azulbg{
   position: absolute;
   top: 40px;
   width: 100%;
   height: 420px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.35);
   box-shadow: 0 8px 35px 0px rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(13.5px);
   -webkit-backdrop-filter: blur(13.5px);
   border: 1px solid rgba(0, 0, 0, 0.18);
}

.azulbg .box{
   position: relative;
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.azulbg .box h2{
   color: rgb(0, 0, 0);
   font-size: 1.4em;
   font-weight: bold;
   margin-bottom: 10px;
}

.azulbg .box button{
   cursor: pointer;
   padding: 10px 20px;
   background-color: white;
   color: #333;
   font-size: 16px;
   font-weight: bold;
   border: none;
}

.formBox{
   position: absolute;
   top: 0;
   left: 0;
   width: 50%;
   height: 100%;
   background-color: white;
   z-index: 1000;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
   transition: 0.5s ease-in-out;
   overflow: hidden;
}

.formBox.active{
   left: 50%;
}

.formBox .form{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding: 50px;
   transition: 0.5s;
}

.formBox .cadastroForm{
   transition-delay: 0.25s;
}

.formBox.active .cadastroForm{
   left: -100%;
   transition-delay: 0s;
}


.formBox .recuperarForm{
   top: -100%;
   transition-delay: 0s;
}

.formBox.hide .recuperarForm{
   top: 0;
   transition-delay: 0.25s;
}

.formBox.hide .cadastroForm{
   top: 100%;
   transition: 0.25s;
}

.formBox .cadastrarForm{
   left: 100%;
   transition-delay: 0s;
}

.formBox.active .cadastrarForm{
   left: 0;
   transition-delay: 0.25s;
}

.formBox .form form{
   width: 100%;
   display: flex;
   flex-direction: column;
}

.formBox .form form h3{
   font-size: 1.5em;
   color: #333;
   margin-bottom: 20px;
   font-weight: 500;
}

.formBox .form form input{
   width: 100%;
   height: 40px;
   margin-bottom: 10px;
   padding: 10px;
   outline: none;
   font-size: 12px;
   border: 1px solid #333;
   border-radius: 5px;
}

.formBox .form form input[type="submit"]{
   background-color: red;
   border: none;
   color: white;
   max-width: 100px;
   cursor: pointer;
}


.formBox .form form .esqueceu{
   color: #333;
}

.form{
   display: flex;
   flex-direction: column;
   align-items: center;
}

form{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.form a{
   user-select: none;
}

.linha{
    width: 100%;
    margin: 5px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linha label{
    margin-left: 10px;
}

#capa, #pdf{
    border: none;
    margin-top: 13px;
    height: 105%;
}

.lSelect{display: grid;
    flex-direction: row;
    grid-template-columns: 50% 50%;
    height: 40px ;
    margin: 5px 0px 10px 0px;
}

.lSelect select{
    width: 98%;
    height: 100%;
    border-radius: 5px;
}

.lSelect select:nth-child(2){
    justify-self: flex-end;
}

textarea{
    width: 100%;
    resize: none;
    margin-bottom: 10px;
}

@media (max-width: 991px){
    .container{
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container .azulbg{
        top: 0;
        height: 100%;
    }

    .formBox{
        width: 100%;
        height: 500px;
        top: 0;
    }

    .azulbg .box{
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }

    .box.jCadastrado{
        top: 0;
    }

    .formBox.active{
        left: 0;
        top: 150px;
    }
}