@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-self: center;
    justify-content: center;
    border-bottom: 1px solid;
    width: 99%;
    height: 84.5px;
    position: relative;
    overflow: hidden;
}

ul.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: auto;
    margin-left: -20px;
}

#btnMenu{
    cursor: pointer;
   margin-top: 3px;
   margin-right: 15px;
   font-size: 35px;
   width: 40px;
   height: 40px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

#btnMenu::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: black;
    transform: translateY(-10px);
    box-shadow: 0 10px black;
    transition: 0.5s;
}

#btnMenu::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: black;
    transform: translateY(10px);
    transition: 0.5s;
}

#btnMenu.hide::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0px black;
}

#btnMenu.hide::after{
    transform: translateY(0px) rotate(-45deg);
}

ul.menu li.hide{
    margin-top: -3px;
    transition: 0.5s ease-in-out;
}

ul.menu li{
    margin-top: 55px;
    transition: 0.5s ease-in-out;
}

ul.menu li a:hover{
    transition: 0.5s;
    color: black;
}

ul.menu li a{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    margin: 4px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bolder;
}

ul.menu li a span{
    display: block;
    position: absolute;
    background: black;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

ul.menu li a:hover span{
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
}

#sch{
    align-self: baseline;
    margin-left: auto;
    margin-right: 65px;
    margin-top: 20px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#sch button{
    width: 40px;
    height: 34.5px;
}

#sch input{
    outline: none;
    width: 300px;
    height: 34.5px;
}

#btnSigin{
    cursor: pointer;
    color: black;
    margin-left: auto;
    margin-right: 25px;
    margin-top: 7px;
    font-size: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#btnSigin span{
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

#optmenu.hide{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 91px;
    right: 0px;
    transition: 0.5s ease-in-out;
}

#optmenu{
    position: absolute;
    border: 1px solid black;
    top: 91px;
    right: -200px;
    width: 150px;
    transition: 0.5s ease-in-out;
}

#optmenu ul{
    display: flex;
    flex-direction: column;
}

#optmenu ul li{
    list-style: none;
    margin-left: -30px;
}

#optmenu ul li{
    transition: 0.5s ease-in-out;
}

#optmenu ul li a:hover{
    transition: 0.5s;
}

#optmenu ul li a{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    margin: 4px;
    color: black;
    font-weight: bolder;
}

#optmenu ul li a span{
    display: block;
    position: absolute;
    background: black;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

#optmenu ul li a:hover span{
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
}