@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-self: center;
    justify-content: center;
    border-bottom: 1px solid;
    width: 99%;
    height: 84.5px;
    position: relative;
    overflow: hidden;
}

ul.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: auto;
    margin-left: -20px;
}

#btnMenu{
    cursor: pointer;
   margin-top: 3px;
   margin-right: 15px;
   font-size: 35px;
   width: 40px;
   height: 40px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

#btnMenu::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: black;
    transform: translateY(-10px);
    box-shadow: 0 10px black;
    transition: 0.5s;
}

#btnMenu::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: black;
    transform: translateY(10px);
    transition: 0.5s;
}

#btnMenu.hide::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0px black;
}

#btnMenu.hide::after{
    transform: translateY(0px) rotate(-45deg);
}

ul.menu li.hide{
    margin-top: -3px;
    transition: 0.5s ease-in-out;
}

ul.menu li{
    margin-top: 55px;
    transition: 0.5s ease-in-out;
}

ul.menu li a:hover{
    transition: 0.5s;
    color: black;
}

ul.menu li a{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    margin: 4px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bolder;
}

ul.menu li a span{
    display: block;
    position: absolute;
    background: black;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

ul.menu li a:hover span{
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
}

#sch{
    align-self: baseline;
    margin-left: auto;
    margin-right: 65px;
    margin-top: 20px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#sch button{
    width: 40px;
    height: 34.5px;
}

#sch input{
    outline: none;
    width: 300px;
    height: 34.5px;
}

#btnSigin{
    cursor: pointer;
    color: black;
    margin-left: auto;
    margin-right: 25px;
    margin-top: 7px;
    font-size: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#btnSigin span{
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

#optmenu.hide{
    display: flex;
    flex-direction: column;
    position: absolute;
}

#optmenu{
    position: absolute;
    top: 91px;
    right: 0px;
    width: 150px;
}

li.hPerfil.hide{
    position: relative;
    right: 0px;
}

li.hPerfil{
    position: relative;
    right: -200px;
}

#optmenu ul{
    display: flex;
    flex-direction: column;
}

#optmenu ul li{
    list-style: none;
    margin-left: -30px;
}

#optmenu ul li{
    transition: 0.5s ease-in-out;
}

#optmenu ul li a:hover{
    transition: 0.5s;
}

#optmenu ul li a{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    margin: 4px;
    color: black;
    font-weight: bolder;
}

#optmenu ul li a span{
    display: block;
    position: absolute;
    background: black;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

#optmenu ul li a:hover span{
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carrossel{
    position: relative;
    align-self: center;
    margin-top: 10px;
    width: 700px;
    overflow: hidden;
    display: flex;
    height: 300px;
    align-items: center;
}

.carItem{
    margin: 0px 10px;
    width: 100px;
    transition: all 0.5s;
    position: absolute;
}
.carItem img{
    width: 100px;
    height: 141px;
}

.ar0, .ar1, .ar2, .ar3, .ar4{
    top: 50px;
    transition: 0.5s;
}

.ar0{right: 50px;}
.ar1{right: 175px;}
.ar2{right: 300px;}
.ar3{right: 425px;}
.ar4{right: 550px;}

.destaque{
    align-self: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: row;
}

.livroDestaque{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 65%;
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    align-items: center;
}

.destaque img{
    margin-left: 25px;
    width: 200px;
}

.destaque h3{
    text-transform: uppercase;
    margin: auto auto;
    font-size: 35px;
}

.modal{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    top: 50vh;
    left: 50%;
    width: 0%;
    height: 0%;
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

div.modal.show{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

div.modal div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 97%;
    height: 94%;
    box-shadow: 1px 1px 4px black;
    overflow-y: auto;
}

div.modal div a{
    text-decoration: none;
    color: black;
}

.btnModal{
    cursor: pointer;
    position: relative;
    align-self: flex-end;
    text-transform: uppercase;
    width: 100px;
}

div.modal.show .btnModal{
    position: fixed;
    top: 10vh;
}

#foto{
    cursor: pointer;
}

.escuro{
    color: white;
}

body.escuro{
    background-color: black;
}

#optmenu ul li a.escuro{
    color: white;
}

.shMenu.escuro{
    color: white;
}

.estante{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
}

.mLivro{
    cursor: pointer;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px black;
    margin-right: 20px;
}

.mLivro img{
    width: 100%;
    height: 300px;
}

.foto{
    cursor: pointer;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

span.comentario{
    text-transform: uppercase;
    margin: 10px 10px 20px 10px;
    font-weight: bolder;
}

span.comentario p{
    text-transform: lowercase;
    margin: 10px 10px;
    font-weight: bolder;
}

div.modal.show .btn{
    position: fixed;
    top: 85vh;
}

.btn{
    background-color: #dbdbdb;
    text-align: center;
    border: 1px solid black;
    transition: 0.1s;
    padding: 5px;
    letter-spacing: 1px;
    width: 100px;
}

.btn:hover{
    background-color: #c0c0c0;
    text-align: center;
    border: 1px solid black;
    box-shadow: 1px 1px 3px black;
    transition: 0.1s;
}

.genero{
    align-self: flex-start;
}